img {
    /* round the borders */
    border-radius: 1%;
    /* center the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* drop shadow */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
